@{
ViewData["Title"] = "About Us";
}
@*Adding About us content to let the users knows about our company*@
<h1>About Us</h1>
<h1> Welcome to Slip Away </h1>
<h2> Your Feet Best Friend</h2>

<p>At SlipAway, we believe that comfort should never be compromised. Founded in 2023, our company has consistently strived to provide high-quality, luxurious slippers that promise an unparalleled cozy experience for your feet. Located in the heart of Windsor, ON</p>

<p>our corporate headquarters where innovative designs meet top-notch quality, ensuring that every pair of slippers we created is a step towards the ultimate comfort and style.</p>

<h2>Our Journey</h2>
<p>SlipAway began with a simple yet profound vision: To find the best friend for your feet</p>

<h2>Our Team</h2>
<p>Our team, Only me based at our headquarters in 2000 Talbot Rd, Windsor, ON
