@{
    ViewData["Title"] = "SlipAway";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Slip Away</h1>
    <h2> Your Feet Best Friend</h2>
    <img src "url("../Img/beach1.jpg")

<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
