@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*Adding disclaimer for the users*@
<h1>Disclaimer: Slip into the Fun, but Don’t Slide into Belief!</h1>

<h2>This Website is Purely for Educational Purposes </h2>

<p>As much as we’d love to take your money. No purchases can be made, and no slippers were harmed in the making of this website.</p>

<p>Yes, you read that right! While we revel in the joy that our fluffy, stylish, and seemingly endless array of slippers bring to your screens, SlipAway is not a real store. Shocking, we know!</p>

<p>With warm (and entirely fictional) regards,</p>
<p>The Fictional SlipAway Team </p>